/* Reset glovas CSS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
            
ul {
    list-style-type: none;
    margin-left: 0;
    padding-right: 0;
} 

h1, h2{
    text-transform: uppercase;
    text-align: center;
}

body{
    background-color: white;
    color: #333;
    font-size: 18;
    font-family: 'Montserrat', sans-serif;      /* Codigo importado desde fonts-google */

}

a {
    text-decoration: none;              /* quito subbrayado*/
    text-transform: uppercase;          /* letra mayuscula */
    color: #0d3274;
}

ul{
    list-style: none;
}

/* ---------------------- */
/* .container{
    width: 100%;
    margin: 0;
} */


/*------------------------------------------*/
/*------------------NAVBAR------------------*/

.nav-menu{
    position: sticky;                   /* fijo el menu */
    z-index: 5;                         /* lo coloco sobre el resto */
    display: flex;                      /* uso diseño de caja */
    align-items: center;                /* alineacion al centro */
    justify-content: space-between;     /* distribuyo horizontamente con separacion entre cada elemento */
    height: 64px;
}

.nav-menu ul{
    display: flex;                      /* cada ul se organizara en cajas para mostrarse en linea horizontal */
    height: 100%;
    align-items: center;
}

.nav-menu ul li a{
    padding: 24px 16px;
}

.nav-menu ul li a:hover{
    background: #0d3274;
    color: white;
}

.nav-menu ul li a:active{
    background-color: #0d3274;
    color: white;
}

.nav-logo{
    width: 48px;
}

.burger-menu {
    color: #0d3274;
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;                      /* menu esta escondido, solo se vera cuando el width sea pequeño */
    margin-right: 1rem;  
}


.main-container, .three-rows{
    align-items: flex-start;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 4rem;
    padding-right: 4rem;
}

/*--------------------------------------------*/
/*------------------ABOUT US------------------*/
.about-us{
    width: 100%;
    height: 480px;
    background-image: url('/assets/images/casa-o-departamento.jpg');
    display: flex;
    align-items: center;
    padding-left: 6%;
    padding-right: 50%;
}

.about-us h2{
    font-size: 18px;
    /* text-transform: uppercase; */
    letter-spacing: 4px;
    color: #0d3274;
    background: rgba(255, 255, 255, 0.70) ; 
    padding: 2px;
    display: inline;

}

/*--------------------------------------------*/
/*------------------SHOWCASE------------------*/
/*-------------------PART 1-------------------*/
.small-showcase{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4%;
}

.small-showcase-img{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 10px;
    padding: 16px;
    align-items: center;
}

.small-showcase img{
    width: 100%;
}

.more-about h1{
    font-size: 48px;
    text-align: center;
    color: #0d3274;
    margin: 20px 0;
}
.more-about p {
    text-align: center;
    margin: 30px 0;
}


/*-------------------PART 2-------------------*/
.more-about h2{
    font-size: 24px;
    margin: 36px 0 16px;
}

.small-showcase-botton{
    cursor: pointer;
    display: block;
    padding: 20px 20px;
    background-color: #0d3274;
    color: white;
    text-align: center;
    transition: all 0.5s ease-out
}

.small-showcase-botton:hover{
    background-color: black;
}

.small-showcase-text{
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
    margin-left: 6%;
    align-items: center;
}

.small-showcase-text div{
    margin-block: 10%;
    background-color: #0d3274;
    /* z-index: 10; */
    padding: 24px;
}

.small-showcase-text img{  
    /* height:400px; */
    width: 450px;
    z-index: -1;
}

.small-showcase-text h2{
    color: white;
}
.small-showcase-text p{
    text-align: left;
}
.small-showcase-text ul{
    padding-left: 32px;
}
.small-showcase-text ul li{
    list-style: square;
}



.benefits{
    width: 100%;
}

.benefits div ul{
    display: flex;
    justify-content: center;
}

.benefits-enumerations{
    display: flex;
    flex-direction: column;
}

.benefits div ul li{
    text-align: center;
    float:left;
    margin: 64px 3%;
}


/*--------------------------------------------*/
/*---------------CONTACT-FOOTER---------------*/
.contact-container {
    background-color: #919191;
    text-align: center;
    padding: 1.25rem;
    margin: 2rem 0 0;    
}

.three-rows{
    display: grid;
    width: 90%;
    grid-template-columns: 25% 25% 50%;
    gap: 4%;
    text-align: left;
}

.contact-container div p {
    color: white;
    font-size: 12px;
}

.phone_n {
    color: white;
    font-size: 12px;
    font-style: oblique;
}

.contact-botton{
    cursor: pointer;
    display: block;
    padding: 10px 10px;
    background-color: #0d3274;
    color: white;
    text-align: center;
    transition: all 0.5s ease-out;
    font-size: 14px;
    /* font-size: 1vw; */
}
.contact-botton:hover{
    background-color: black;
    transition: all 0.5s ease-out;
}



.icon-style{
    font-size: 2rem;
    color: white;
}


/*--------------------------------------------*/
/*--------------SCROLL-UP-BUTTON--------------*/
.scroll-up {
    position: fixed;
    right: 0.5%;
    bottom: 3%;
    cursor: pointer;
}
  
.up-arrow {
    /* width: 4rem;
    height: 4rem; */
    font-size: 5rem;
    color: #0d3374;
}
.up-arrow:hover {
    /* width: 4rem;
    height: 4rem; */
    font-size: 5rem;
    color: rgb(50, 50, 50);
    transition: all 0.2s ease-out

}

/* .social-icons {
    width: 2rem;
    height: 2rem;
} */



/*--------------------------------------------*/
/*-------------------FOOTER-------------------*/
footer{
    background-color: #919191;
    padding: 1.25rem;
    text-align: center;
    /* margin: 2rem 0 0; */
}
  
.copyright{
    color: white;
    font-size: 12px;
}

.copyright a {
    color: white;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}
  
.copyright a:hover {
    box-shadow: 0 5px 0 white;
    cursor: pointer;
    transition: all 0.1s ease-out
}
  
.copyright a:active {
    box-shadow: none;
    top: 5px;
}





@media screen and (max-width: 780px){
    .nav-menu ul.nav-items{
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        background: #0d3274;
        width: 100%;
        flex-direction: column;
        text-align: center;
        transition: transform 0.5s ease-in-out;
        transform: translateY(-800px);
    }
    .nav-menu ul.nav-items.show{
        transition: transform 0.5s ease-in;
        transform: translateY(0px);
    }

    .nav-items li{
        width: 100%;
        /* padding: 20px; */
        font-size: 16px;
    }

    ul.nav-items li a{
        display: block;
        /* padding: 24px 16px; */
        color: white;
    }

    ul.nav-items li a:hover{
        /* padding: 24px 16px; */
        background: black;
        width: inherit;

    }

    .small-showcase{
        display: grid;
        grid-template-columns: 1fr;
    }

    .burger-menu {
        display: block;                      /* menu esta escondido, solo se vera cuando el width sea pequeño */
    }
    
    .small-showcase-text {
        font-size: 2vw;
    }

    .about-us h2{
        font-size: 3vw;
    }

    .three-rows{
        grid-template-columns: 1fr;
    }

    .contact-botton{
        font-size: 10px;
        /* font-size: 1vw; */
    }
}